* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c9d6ff,
    #e2e2e2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c9d6ff,
    #e2e2e2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.boton {
  width: 200px;
  text-align: center;
  border: 0.1rem solid #fff;
  border-radius: 0.2rem;
  margin: 0.5rem;
  cursor: pointer;
}

.number {
  width: 50px;
}

.container {
  display: inline-block;
}

.notVisible {
  display: none;
}

#myDiagramDiv {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}
#developed {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(0, 0, 0, 0.55);
}

#eder {
  position: absolute;
  top: 30px;
  right: 10px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
}

/* .bg {
  background: url(./Granulometria.png) no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(70px);
} */
